@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  min-height: 100vh;
  /* background-color: #4ca1af; */
  /* background-image: linear-gradient(135deg, #81D2FF 0%, #c4e0e5 100%); */
  background-image: url("med.svg");
  background-repeat: no-repeat;
  background-position: 30px center;
}

.login-heading {
  font-size: 22px;
  color: #808385;
}
.login-form {
  background-color: #fff;
  border-radius: 10px;
  height: auto;
  width: 500px;
  box-shadow: 10px 10px 60px rgb(214, 214, 214);
  padding: 20px;
  margin-top: 200px;
  margin-right: 350px;
}
.form-contrl {
  padding-top: 20px;
  color: #2a9ad6;
  font-weight: 600;
}
.login-button {
  margin-top: 20px;
  width: 150px;
}
.btn-color {
  background-image: linear-gradient(45deg, #2a9ad6, #c4e0e5);
  border: 0px;
  font-weight: bold;
}

.btn-color:hover {
  background-image: linear-gradient(45deg, #167aaf, #a0f1ff);
}
#forgotPassword {
  margin-top: 10px;
  font-size: 12px;
  color: #167aaf;
  text-decoration: none;
}

@media (max-width: 990px) {
  .login-form {
    background-color: #fff;
    border-radius: 10px;
    /* height:auto; */
    width: 400px;
    box-shadow: 10px 10px 60px rgb(214, 214, 214);
    padding: 15px;
    margin-top: 180px;
    margin-right: 50px;
  }
  body {
    width: 100%;
    margin: auto;
    position: relative;
    background-image: url("med.svg");
    background-repeat: no-repeat;
    background-position: 30px center;
    background-size: 400px auto;
  }
}

@media (max-width: 770px) {
  .login-form {
    background-color: #fff;
    border-radius: 10px;
    /* height:auto; */
    width: 300px;
    box-shadow: 10px 10px 60px rgb(214, 214, 214);
    padding: 15px;
    margin-top: 180px;
    margin-right: 50px;
  }
  body {
    width: 100%;
    margin: auto;
    position: relative;
    background-image: url("med.svg");
    background-repeat: no-repeat;
    background-position: 30px center;
    background-size: 300px auto;
  }
}

@media (max-width: 575px) {
  .login-form {
    background-color: #fff;
    border-radius: 10px;
    /* height:auto; */
    width: 250px;
    box-shadow: 10px 10px 60px rgb(214, 214, 214);
    padding: 15px;
    margin-top: 180px;
    margin-right: 50px;
  }
  body {
    width: 100%;
    margin: auto;
    position: relative;
    background-image: url("med.svg");
    background-repeat: no-repeat;
    background-position: 30px center;
    background-size: 200px auto;
  }
}
